autopep8==2.0.1
ipykernel==6.21.1
nltk==3.9.1
numpy==1.26.4
onnx==1.16.2
optuna==3.6.1
pip==24.2
pre-commit==3.0.4
requests==2.32.3
tensorboard==2.17.0
torch==2.2.2
torchmetrics==1.4.0.post0
torchvision==0.17.2
tritonclient==2.49.0
tqdm==4.66.4